.icon-content-section{
   width: 80vw;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

   @include breakpoint(S) {
      width: 100vw;
      gap: 3rem;
    }
    &.contact-icon{
      .icon-content-item{
         gap: .75rem;
         .heading-section{
            display: none;
         }
      }
    }
    .icon-content-item{
       width: calc(100% / 4 - 2rem);
       justify-content: flex-start;
       gap: 1.5rem;
       display: flex;
       flex-direction: column;
       text-align: center;
       @include breakpoint(S){
          width: 100%;
          padding-inline: 2rem;
       }
       .svg-container{
            svg{
                color: #fb4406;
            }
       }
       .content-heading{
          font-size: 1.625rem;
          letter-spacing: .2rem;
          text-transform: uppercase;
       }
    }
}
   



.mobile-scroll {
   @media only screen and (max-width: 600px) {
        overflow: scroll;
        scroll-snap-type: x proximity;
        flex-wrap: nowrap !important;
        justify-content: unset;
        align-items: unset;
        // this stops the scroll bar from overlapping the items
        padding-bottom: 1rem;
        margin-bottom: -1rem;

        .column-content-container {
            flex-grow: unset;
            flex-shrink: 0;
            // margin: 0 1rem 0 0;
            width: 18rem;
         
            @include breakpoint(XS) {
               width: 100%;
             }
            scroll-snap-align: center;

            &:first-child {
                margin-left: 2rem;
            }
        }
        .cta.compact {
            width: calc(50% - 3rem - 1px);

            &:first-child {
                margin-left: 2.5rem;
            }
        }
        &:after {
            content:"";
            padding-right: 1rem;
        }
        [data-aos^=fade][data-aos^=fade] {
            transform: none !important;
        }
    }
}


